.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
*.nii.gz
*.csv
outputs/*
checkpoints/*.pt
*.pt
media/
MedSAM2.egg-info/
*.out
slurm/*.out
hpc/*.out
# Local project artifacts currently untracked
.venv_fq/
CMIG_clips/
CMIG_data_processing/
Ivos_w_data/
_tmp_vtus_480p_build/
analyse_data/
checkpoints/
coverage_three_runs.png
datasets/
eva_vos_data/
eva_vos_lr_scripts/
ivos_w_lr_script/
l2d_models/
l2d_models_ma/
l2d_models_ma_sun/
l2d_train_outputs/
l2d_train_outputs_barrets_ma/
l2d_train_outputs_miccai_mup/
l2d_train_outputs_miccai_mup_5000/
l2d_train_outputs_miccai_mup_layer4/
l2d_train_outputs_miccai_mup_testing/
l2d_train_outputs_miccai_sun/
l2d_train_outputs_miccai_sun_2000/
l2d_train_outputs_miccai_sun_5000/
l2d_train_outputs_miccai_sun_layer4/
l2d_train_outputs_miccai_vtus/
l2d_train_outputs_miccai_vtus_2000/
l2d_train_outputs_miccai_vtus_5000/
l2d_train_outputs_miccai_vtus_layer4/
l2d_train_outputs_sun_ma/
miccai_data_pkl_mup/
miccai_data_pkl_mup_layer4/
miccai_data_pkl_sun/
miccai_data_pkl_sun_layer4/
miccai_data_pkl_sun_stride_1/
miccai_data_pkl_vtus/
miccai_data_pkl_vtus_layer4/
miccai_data_pkl_vtus_same/
miccai_data_pkl_vtus_stride_1/
misc_scripts/
notebooks/coverage_plot_latest.png
notebooks/plot_coverage_three_csvs.ipynb
notebooks/plot_coverage_three_csvs_v2.ipynb
notebooks/plot_epoch_best_vs_chosen_1000.ipynb
plot_coverage/
split_dict_sun.txt
tmp
*.pyc


